# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Cinema Room Manager/*
!/Cinema Room Manager/task/
/Cinema Room Manager/task/*
!/Cinema Room Manager/task/src
